*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.7vw;
}

.boxcenter{
    width: 60%;
    margin: 0 auto;
}

.row{
    float: left;
    width: 100%;
}

.mb{
    margin-bottom: 20px;
}
.mb10{
   margin-bottom: 10px;
}
.mr{
    margin-right: 2%;
}

.demo{
    background-color:  antiquewhite;
    min-height: 100px;
}
 .header{
    background-color:  aquamarine;
    border:  1px solid #badc58;
    color: #686de0;
    border-radius: 5px;
 }

 .header h1 {
    margin: 20px;
    font-size: 1.2vw;
 }

 .menu{
    background-color:  #535c68;
    color: #f5f6fa;
    border-radius: 5px;
 }
 
 .boxtrai{
    float: left;
    width: 74%;
 }

 .boxphai{
    float: right;
    width: 24%;
 }

 .footer{
    background-color:  aquamarine;
    border:  1px solid #badc58;
    color: #686de0;
    font-size:  0.8vw;
    border-radius: 5px;
    padding: 20px;
 }

 .box-title{
    color: #333;
    padding: 10px;
    background-color:  #EEE;
    border-top-left-radius:5px ;
    border-top-right-radius: 5px;
    border: 1px #CCC solid ;
 }
 .box-content{
    border-bottom-left-radius:5px ;
    border-bottom-right-radius: 5px;
    border-left: 1px #CCC solid ;
    border-right: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
    min-height: 200px;
    padding: 20px;
 }
 .box-content2{
    border-left: 1px #CCC solid ;
    border-right: 1px #CCC solid;
    background-color: #EEE;
 }

 .box-footer{
    padding: 10px;
    background-color:  #EEE;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius: 5px;
    border-left: 1px #CCC solid ;
    border-right: 1px #CCC solid ;
    border-bottom: 1px #CCC solid ;

 }

 .banner{
    text-align:  center;
    min-height: 300px;
    width: 100%;
 }

 .banner img {
    height: 300px;
 }

 .boxsp{
    float: left;
    width: 32%;
    min-height: 300px;
    border: 1px #EEE solid;
    border-radius: 5px;
    margin-bottom: 20px;
 }
.boxsp .img {
    min-height: 230px;
    text-align: center;
}

.boxsp img {
    
    
    max-width: 100%;
}

.img img{
    width: 90%;
    height: 220px;
}

.menu ul {
    padding: 0px 10px;
}

.menu ul li{
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}

.menu ul li a{
    color: #CCC;
    text-decoration: none;
    transition: 0.2s;
}

.menu ul li a:hover{
color: #f5f6fa;
font-size: 0.9vw;
}
/* formtaikhoan */
.formtaikhoan{
   line-height: 150%;
}

.formtaikhoan input[type = "text"]
{
   width: 100%;
   border:  1px solid #CCC;
   padding: 5px 10px;
   border-radius:  5px;
}

.formcontend input[type = "text"]
{
   width: 100%;
   border:  1px solid #CCC;
   padding: 5px 10px;
   border-radius:  5px;
}
.formtaikhoan input[type = "password"]{
   width: 100%;
   border:  1px solid #CCC;
   padding: 5px 10px;
   border-radius:  5px;
}
.formtaikhoan input [type = "checkbox"]{
   border-radius: 5px;
}
.formtaikhoan input [type = "submit"],
.formcontend input[type = "submit"],
.formcontend input[type = "reset"],
.formcontend input[type = "button"]
{
   border-radius: 5px;
   padding: 5px 10px;
   background-color: white;
   border:  1px solid #CCC;
}
.formtaikhoan input [type = "submit"]:hover, 
.formcontend input [type = "submit"]:hover, 
.formcontend input [type = "reset"]:hover,
.formcontend input [type = "button"]:hover{
   background-color: #CCC;
}

.formtaikhoan li a {
   color: teal;
   text-decoration: none;

}

.formtaikhoan li a:hover{
   color: #060;
   text-decoration: none;
}
/* menu dọc*/
.menudoc ul{
   padding: 0;
   margin: 0;
   list-style-type: none;
}
.menudoc ul li{
padding: 10px 20px; background-color:#FFF;
border-bottom: 1px #CCC solid;
}
.menudoc ul li a { color: #666;
   text-decoration: none;
}
.menudoc ul li:hover { 
   background-color: #CCC;
}
.searbox input[type="text"] 
{ width: 100%;
  padding: 5px 10px; 
  background-color:#FFF; 
  border: 1px #CCC solid; 
  border-radius: 5px;
  
} 
.top10 img{
width: 20%;
height: 50px;
float: left;
margin-right: 10px;
border-radius: 5px;
border: 1px solid #CCC;
}
.top10 a {
   color: #666; 
   text-decoration: none; 
}
.tople a:hover { 
   color: #008;
   text-decoration: underline; 
}
/* Admin"*/
.headeradmin{
background-color: #EEE;
border: 1px #CCC solid;
color: #666;
border-radius: 5px;
padding: 0px 20px;
}
.headeradmin H1{
   font-size: 2vw;
}
.formtitle{
background-color: #EEE;
border: 1px #CCC solid;
color: #666;
border-radius: 5px;
padding: 0px 20px;
}
.formcontend{
   padding: 20px 0px;
}


.frmdsloai table{
   width: 100%;
   border-collapse: collapse;
   border: 1px #999 solid;
}

.frmdsloai table th:nth-child(1){
   width: 10%;
   padding: 20px;
   background-color: #CCC;
}

.frmdsloai table th:nth-child(2){
   width: 30%;
   background-color: #ccc;
}

.frmdsloai table th:nth-child(3){
   width: 40%;
   background-color: #CCC;
}

.frmdsloai table th:nth-child(4){
   width: 20%;
   background-color: #CCC;
}

.frmdsloai table td{
   padding: 10px 20px ;
   border: 1px #CCC solid;

}