* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 0.7vw;
}
a {
  text-decoration: none;
}

.boxcenter {
  width: 80%;
  margin: 0 auto;
}

.row {
  float: left;
  width: 100%;
}

.mb {
  margin-bottom: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.mr {
  margin-right: 2%;
}

.demo {
  background-color: antiquewhite;
  min-height: 100px;
}
.header {
  background-color: aquamarine;
  border: 1px solid #badc58;
  color: #686de0;
  border-radius: 5px;
}

.header h1 {
  margin: 20px;
  font-size: 1.2vw;
}

.menu {
  background-color: #535c68;
  color: #f5f6fa;
  border-radius: 5px;
}

.boxtrai {
  float: left;
  width: 74%;
}

.boxphai {
  float: right;
  width: 24%;
}

.footer {
  background-color: aquamarine;
  border: 1px solid #badc58;
  color: #686de0;
  font-size: 0.8vw;
  border-radius: 5px;
  padding: 20px;
}

.box-title {
  color: #333;
  padding: 10px;
  background-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px #ccc solid;
}
.box-content {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  min-height: 200px;
  padding: 20px;
}
.box-content2 {
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  background-color: #eee;
}

.box-footer {
  padding: 10px;
  background-color: #eee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
}

.banner {
  text-align: center;
  min-height: 300px;
  width: 100%;
}

.banner img {
  height: 300px;
}

.boxsp {
  float: left;
  width: 32%;
  min-height: 300px;
  border: 1px #eee solid;
  border-radius: 5px;
  margin-bottom: 20px;
}
.boxsp .img {
  min-height: 230px;
  text-align: center;
}

.boxsp img {
  max-width: 100%;
}

.img img {
  width: 90%;
  height: 220px;
}

.menu ul {
  padding: 0px 10px;
}

.menu ul li {
  list-style-type: none;
  display: inline;
  padding: 0px 15px;
}

.menu ul li a {
  color: #ccc;
  text-decoration: none;
  transition: 0.2s;
}

.menu ul li a:hover {
  color: #f5f6fa;
  font-size: 0.9vw;
}
/* formtaikhoan */
.formtaikhoan {
  line-height: 150%;
}

.formtaikhoan input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
}

.formcontend input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
}
.formtaikhoan input[type="password"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
}
.formtaikhoan input [type="checkbox"] {
  border-radius: 5px;
}
.formtaikhoan input [type="submit"],
.formcontend input[type="submit"],
.formcontend input[type="reset"],
.formcontend input[type="button"] {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #ccc;
}
.formtaikhoan input [type="submit"]:hover,
.formcontend input [type="submit"]:hover,
.formcontend input [type="reset"]:hover,
.formcontend input [type="button"]:hover {
  background-color: #ccc;
}

.formtaikhoan li a {
  color: teal;
  text-decoration: none;
}

.formtaikhoan li a:hover {
  color: #060;
  text-decoration: none;
}
/* menu dọc*/
.menudoc ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menudoc ul li {
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px #ccc solid;
}
.menudoc ul li a {
  color: #666;
  text-decoration: none;
}
.menudoc ul li:hover {
  background-color: #ccc;
}
.searbox input[type="text"] {
  width: 100%;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px #ccc solid;
  border-radius: 5px;
}
.top10 img {
  width: 20%;
  height: 50px;
  float: left;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.top10 a {
  color: #666;
  text-decoration: none;
}
.tople a:hover {
  color: #008;
  text-decoration: underline;
}
/* Admin"*/
.headeradmin {
  background-color: #eee;
  border: 1px #ccc solid;
  color: #666;
  border-radius: 5px;
  padding: 0px 20px;
}
.headeradmin H1 {
  font-size: 2vw;
}
.formtitle {
  background-color: #eee;
  border: 1px #ccc solid;
  color: #666;
  border-radius: 5px;
  padding: 0px 20px;
}
.formcontend {
  padding: 20px 0px;
}

.frmdsloai table {
  width: 100%;
  border-collapse: collapse;
}

.frmdsloai table th {
  padding: 20px;
  background-color: #ccc;
}

/* .frmdsloai table th:nth-child(2){
   width: 30%;
   background-color: #ccc;
}

.frmdsloai table th:nth-child(3){
   width: 40%;
   background-color: #CCC;
}

.frmdsloai table th:nth-child(4){
   width: 20%;
   background-color: #CCC;
} */

.frmdsloai table td {
  padding: 10px 20px;
  border: 1px #ccc solid;
}
/*slideshow*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*end slideshow*/
.spct {
  text-align: center;

}
.spct img {
  width: 50%;
}